*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    display: flex;
    flex-direction: column;
}

#cardsbag {
    min-height: 772px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    align-items: center;
}

#cardsbag h2{
    color: #2A5B45;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

#containProductsTotal{
    width: 1200px;
    min-height: 415.32px;
    display: flex;
    gap: 24px;
}

#productsSend{
    width: 792PX;
    min-height: 415.32px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    padding: 8px;
}

#productsSend h3{
   font-size: 18px;
   font-weight: 600;
   line-height: 24px; 
}

#productsSend hr{
    border: 1px solid #E3DED7
}

#containProducts{
    width: 776px;
    min-height: 55.66px;
    border: solid 2px chartreuse;
}

#sendFree,
#sendUrgent{
    width: 776px;
    height: 36px;  
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    gap: 16px;
}

.containText{
    width: 657px;
    min-height: 36px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#containTextSendUrgent{
    width: 666px;
}

.containText label{
    font-weight: 600;
}

.containText p{
    font-weight: 400;
}

.selectorDelivery{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#totalPrice{
    width: 384px;
    height: 280px;
    background-color:#F7F5F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 24px;
}

#details{
    display: flex;
    flex-direction: column;
    min-width: 336px;
    min-height: 176px;
    gap: 16px;
}

#details h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    width: 129px;
    height: 24px;
}

#details hr{
    border: 1px solid #E3DED7
}

#carrDetailsSubTotal,
#carrDetailsSend,
#carrDetailsTotal{
    display: flex;
    justify-content: space-between;
    width: 336px;
}

.subTotalAndSend{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.textblodTotalCarr{
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

#cotainTotalPriceIVA{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 8px;
}

#textIVA {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

#buttonWrapperTotal{
    width: 310px;
    height: 40px;
    display: flex;
    gap: 16px;
}

#btnCheckOut{
    width: 129px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2A5B45;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

#btnContinueShopping{
    width: 165px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#2A5B45;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}


#copyrightFooter{
    color: #FFFFFF;
}

