*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

#cardsCheckOut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    gap: 24px;
    height: 1108px;
}

#cardsCheckOut > h2{
    color: #2A5B45;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

#containTableTotal{
    display: flex;
    width: 1200px;
    height: 972px;
    gap: 24px;
}

#productTable{
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 792px;
    min-height: 972px;
    gap: 24px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

#productTable > h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

#cardPayment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#detailsCardPayment{
    display: flex;
    flex-direction: column;
    width: 665px;
    height: 36px;
    gap: 4px;
    font-size: 14px;
    line-height: 16px;
}

#detailsCardPayment label{
    font-weight: 600;
}

#detailsCardPayment p{
    font-weight: 400;
}

.hiddenPrice{
    height: 24px;
    width: 55px;
}

#formCardPayment{
    width: 279px;
    height: 181px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

#formCardPayment input{
    outline: none;
}

#formCardPayment input:hover{
    border: 1px solid #9B9EA3;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

#formCardPayment input:focus{
    border: 2px solid #3F8F6B; 
}

.titularNumCard{
    display: flex;
    flex-direction: column;
    width: 279px;
    height: 55px;
    gap: 3px;
}

.titularNumCard > label{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.titularNumCard > input{
    width: 279px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 8px;
}

.titularNumCard input::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #515051;
}

#expirationDateCVC{
    width: 279px;
    height: 55px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
}

.dateCVC{
    width: 127.5PX;
    height: 55PX;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.dateCVC > label{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.dateCVC > input{
    width: 127.5px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 8px;
}

.dateCVC input::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #515051;
}

/* #expirationDate::-webkit-calendar-picker-indicator {
    display: none;
} */

.divider{
    border: 1px solid #E3DED7;
    width: 776px;
}

#bankTransfer{
    display: flex;
    justify-content: space-between;
    width: 776x;
    height: 36px;
    gap: 16px;
    align-items: center;
}

#detailsBankTransfer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 736px;
    height: 36px;
    font-size: 14px;
    line-height: 16px;
}

#detailsBankTransfer > label{
    font-weight: 600;
}

#detailsBankTransfer > p{
    font-weight: 400;
}

#bizum{
  display: flex;
  width: 776px;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

#bizum img{
    width: 69.23px;
    height: 30px;
}

.radios{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    accent-color: #2A5B45;
}

#formAddress{
    width: 521px;
    height: 433px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.userNameLastNamePhoneEmailCountry{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 521px;
    height: 55px;
}

.userNameLastNamePhoneEmailCountry input{
    border: 1px solid #D1D5DB;
    width: 521px;
    height: 36px;
    border-radius: 6px;
    padding: 8px;
}

.userNameLastNamePhoneEmailCountry label{
    font-size: 12px;
    font-weight: 400px;
    line-height: 16px;
}

.userNameLastNamePhoneEmailCountry select{
    border: 1px solid #D1D5DB;
    width: 521px;
    height: 36px;
    border-radius: 6px;
    padding: 8px;
}

#userPopulationCp{
   width: 521px;
   height: 55px;
   display: flex;
   gap: 24px;
   justify-content: space-between;
   align-items: center; 
}

.populationCp{
    display: flex;
    flex-direction: column;
    width: 248.5px;
    height: 55px;
    gap: 3px;
}

.populationCp label{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.populationCp input{
    border: 1px solid #D1D5DB;
    height: 36px;
    border-radius: 6px;
    padding: 8px;
}

#addressDetails{
    display: flex;
    width: 521px;
    height: 55px;
    gap: 24px;
}

.streetNumApartmentDoor{
    display: flex;
    flex-direction: column;
    width: 112.25px;
    height: 55px;
    gap: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.streetNumApartmentDoor input{
    height: 36px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    padding: 8px;
}

#formAddress input{
    outline: none;
}

#formAddress input:hover{
    border: 1px solid #9B9EA3;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

#formAddress input:focus{
    border: 2px solid #3F8F6B; 
}

#formAddress select{
    outline: none;
}

#formAddress select:hover{
    border: 1px solid #9B9EA3;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

#formAddress select:focus{
    border: 2px solid #3F8F6B; 
}

#totalPrice{
    width: 384px;
    height: 280px;
    background-color:#F7F5F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 24px;
}

#totalPrice > a{
    text-decoration: none;
    background-color: #2A5B45;
    height: 40px;
    width: 196px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    opacity: 30%;
}

#copyrightFooter{
    color: #FFFFFF;
}