*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

nav{
    background-color: #2B2A2B;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#logo{
    display: flex;
    min-width: 213.86px;
    min-height: 36px;
    gap: 7.33px;
    align-items: center;
}

#logo p{
    font-size: 23.46px;
    font-weight: 400;
    line-height: 35.19px;
    width: 186px;
    height: 36px;
}

#logo img{
    width: 20.53px;
    height: 24.93px;
}

#menuWrapperNav{
    display: flex;
    min-width: 512px;
    min-height: 32px;
    list-style: none;
    gap: 16px;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

#menuWrapperNav li{
    padding: 8px;
    cursor: pointer;
}

#menuWrapperNav li:hover{
    background-color: #F7F5F31A;
    border-radius: 8px;
}

#navPhoneButton{
    display: flex;
    min-height: 40px;
    min-width: 288px;
    gap: 24px;
    font-size: 14px;
    align-items: center;
    font-weight: 600;
}

#phone{
    display: flex;
    gap: 8px;
    align-items: center;
}

#phone img{
    width: 24px;
    height: 24px;
}

#phone p{
    width: 102px;
    height: 16px;
    line-height: 16px;
}

#navPhoneButton a{
    min-height: 40px;
    min-width: 130px;
    border-radius: 4px;
    background-color:#515051;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bag{
    cursor: pointer;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 486px;
    background: #E3DED74D;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 64px;
}

#wrapperHero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    min-height: 390px;
    gap: 24px;
}

#wrapperHeroText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 588px;
    min-height: 232px;
    gap: 16px;
}

#wrapperHeroText h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2A5B45;
}

#wrapperHeroText h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
}

#wrapperHeroText p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#buttonsHero{
    display: flex;
    align-items: center;
    min-width: 321px;
    min-height: 40px;
    gap: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

#buttonOne{
    text-decoration: none;
    min-width: 168px;
    min-height: 40px;
    border-radius: 4px;
    background-color: #1F1815;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonTwo{
    text-decoration: none;
    min-width: 168px;
    min-height: 40px;
    border-radius: 4px;
    background-color: #2A5B45;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapperHero img{
    width: 588px;
    height: 390px;  
}

#cardsConditions{
    min-height: 380px;
    background-image: url(/assets/images/background\ cards.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#cardsConditions h2{
    width: 350px;
    height: 28px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

#conditionsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 996px;
    min-height: 232px;
    gap: 24px;
}

.cardConditionsWrapper{
    width: 316px;
    height: 232px;
    border-radius: 8px;
    border: 1px solid #F7F5F3;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #E3DED7CC;
    align-items: center;
    justify-content: center; 
}

.cardConditionsWrapper > div{
    min-width: 64px;
    min-height: 64px;
    background-color: #2A5B45;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardConditionsWrapper h3{
    width: 268px;
    height: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #2B2A2B;
}

.cardConditionsWrapper p{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #111827;
    width: 268px;
}

#cardsNews{
    min-height: 603.39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#cardsNews h2{
    font-size: 24px;
    font-weight: 500;
    color: #2A5B45;
    line-height: 28px;
    width: 120px;
}

#cardsNewsWrapper{
    display: flex;
    max-width: 1200px;
    min-height: 391.39px;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.cardNewsWrapperProduct{
    width: 282px;
    height: 391.39px;
    border-radius: 8px;
    gap: 24px;
    border: 1px solid #E3DED7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hoverCards:hover{
    background: #F7F5F3;
}

.cardNewsWrapperProduct:hover .hoverBtn{
    background: #2A5B45;
}

.cardNewsWrapperProduct img{
    width: 219.39px;
    height: 219.39px;
}

.productInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.productInfo p:first-child{
    font-weight: 600;
}

.Active{
    min-height: 32px;
    min-width: 60px;
    background-color: #2A5B45B2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    padding: 8px;
    cursor: pointer;
}

.notActive { 
    pointer-events: none; 
    cursor: default; 
    background-color:#E3DED7;
} 

#cardNewslinkIcon a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

#cardNewslinkIcon img{
    height: 24px;
    width: 24px;
}

#FAQ{
    min-height: 444px;
    background-color: #2A5B45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    
}

#FAQ h2{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 17px;
}

#FAQWrapper{
    min-height: 216px;
    min-width: 668px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.FAQWrapperElements{
    min-width: 668px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #FFFFFF; 
    min-height: 72px; 
    transition: all 1s;
    padding: 24px;
}

.FAQWrapperTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 620px;
    min-height: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.FAQWrapperTitle img{
    height: 20px;
    width: 20px;
    transition: all 0.5s;
}

.FAQWrappertext{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 0px;
    overflow: hidden;   
    transition: all 0.5s;
}

.FAQWrapperElements:hover .FAQWrappertext{
    height: 64px;
    margin-top: 16px;
} 

.FAQWrapperElements:hover .FAQWrapperTitle img{
    transform: rotate(180deg);
}

.FAQWrapperElements hr{
    width: 620px;
    border: 1px solid #E3DED7;  
}

.FAQWrapperElements p{
    width: 620px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

#FQALinkIcon{
    display: flex;
    width: 178px;
    height: 72px;
}

 #FQALinkIcon a{
    height: 24px;
    align-items: center;
    gap: 16px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
 }

 #FQALinkIcon img{
    height: 24px;
    width: 24px;
 }

 #featureSection{
    height: 480px;
    background-color: #F7F5F3;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #featureSectionWrapper{
    display: flex;
    min-height: 390px;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
 }

 #featureSectionWrapperContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 457px;
    min-height: 116px; 
 }

 #featureSectionWrapperContent h2{
    color: #2A5B45;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
 }

 #featureSectionWrapperContent p{
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
 }

 #linkIconFeatureSection a{
    line-height: 16px;
    font-weight: 600;
    color: #000000;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 14px;
 }

 #featureSectionWrapper > img{
    width: 588px;
    height: 390px;
    border-radius: 20px;
 }

 #splitTwoToneDesktop{
    min-height: 552px;
    background-color: #E3DED7;
    display: flex;
    justify-content: center;
 }

 #leadingContent{
    max-width: 1200px;
    min-height: 552px;
    gap: 24px;
    opacity: 90%;
    background-color: #E3DED7;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 #contactSections{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 588px;
    height: 320px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
 }

 #contactSectionsHeader{
    display: flex;
    flex-direction: column;
    gap: 12px;
 }

 #contactSectionsHeader h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
 }

 #contactSectionsContent{
    display: flex;
    flex-direction: column;
    gap: 24px;
 }

 #contentDetails{
    display: flex;
    flex-direction: column;
    gap: 12px;
 }

 #contentDetails img{
    height: 24px;
    width: 24px;
 }

 .details{
    display: flex;
    gap: 12px;
    align-items: center;
 }

 #contactSectionsContent a{
    color: #6B7280;
    text-decoration: none;
 }

 #linkContent{
    text-decoration: underline;
    color: #000000;
    font-weight: 600;
 }

 #trailingContent{
    width: 588px;
    min-height: 552px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
 }

 form{
    min-width: 470px;
    min-height: 488px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #374151;
 }

 .inputext{
    line-height: 16px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
 }

 .inputext input,
 .inputext textarea{
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    width: 100%; 
 }

 .inputext input{
    min-height: 34px;
 }

 #phoneFormFieldsTextInput{
    display: flex;
    align-items: center;
    font-size: 14px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;
 }

 #phoneFormFieldsTextInput:hover{
    border: 1px solid #9B9EA3;
    box-shadow: 0px 1px 2px 0px #0000000D;
 }

 #phoneFormFieldsTextInput:focus-within{
    border: 2px solid #3F8F6B; 
 }
 
 #phoneFormFieldsTextInput input::placeholder{
    color: #6B7280;
 }

 #phoneFormFieldsTextInput input{
    border: none;
    outline: none;
 }

 #phoneFormFieldsTextInput div{
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
 }

 #phoneFormFieldsTextInput select{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #111827;
 }

 #inputTextarea{
    min-height: 142px;
    display: flex;
    flex-direction: column;
    gap: 4px;
 }

 .inputext textarea{
    height: 122px;
    padding-left: 17px;
    padding-top: 13px;
    padding-right: 13px;
 }

 #inputTextarea textarea::placeholder{
    color: #6B7280;
    font-size: 14px;
    position: absolute;
    top: 13px;
    left: 17px;
 }

 #formPrivacy{
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 14px;
 }

 #formPrivacy input{
    accent-color: #2A5B45;
}

 #formPrivacy label a{
    color: #374151;
    font-weight: 600;
 }

 .privacyPolicy{
    font-weight: 600;
    text-decoration: underline;
    color: #374151;
 }

 #buttonSubmit{
    width: 90px;
    height: 40px;
    border-radius: 4px;
    background: #2A5B45;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
 }

 .efect:hover{
    border: 1px solid #9B9EA3;
    box-shadow: 0px 1px 2px 0px #0000000D;
 }

 .efect:focus{
    border: 2px solid #3F8F6B;
    box-shadow: 0px 1px 2px 0px #0000000D;
    outline: none;
 }

 .space{
    padding-left: 10px;
 }

 footer{
    height: 310px;
    background-color: #1F1815;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    position: relative;
}

#footerWrapper{
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 201px;
    gap: 16px;
    position: absolute;
    top: 28.61px;
}

#logoFooter{
    width: 288px;
    min-height: 36px;
    display: flex;
    gap: 7.33px;
    align-items: center;
    font-weight: 400;
    font-size: 23.46px;
    line-height: 35.19px; 
}

#linksContactFooter{
    width: 1132px;
    height: 152px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#linksContactWrapper{
    width: 255.33px;
    min-height: 152px;
    display: flex;
    flex-direction: column;
    gap: 16px;  
    align-items: flex-start;
}

.buttonsFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.buttonsFooter a{
    text-decoration: none;
    color: #FFFFFF;
}

#buttonphonefooter{
    height: 48px;
    width: 182px;
    background-color: #515051;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

#buttonMailfooter{
    height: 48px;
    width: 232px;
    background-color: #515051;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

#footerWrapper ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#menuWrapperFooter{
    position: absolute;
    top: 2.61px;
    left: 577px;
}
#menuWrapperFooter li,
#menuWrapperFooterPrivacy li{
    cursor: pointer;
}

#menuWrapperFooterPrivacy{
    position: absolute;
    top: 3px;
    left: 800px;
}

#copyrightFooter{
    background-color: #2B2A2B;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 270.34px;
    display: flex;
    align-items: center;
    justify-content: center;
}


